/*Navigation Bar Styling*/
.navbar.navbar-expand-lg
{
	background-color: #282828;
}

.fa.fa-google
{
	color: white;
	padding: 10px;
  	font-size: 20px;
  	width: 40px;
  	height: 40px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
  	border-radius: 100%;
}

.navbar-nav
{
	font-family: 'Rokkitt', serif;
	font-size: 22px;
}

.nav-item.active
{
	padding-right: 50px;
}

.dropdown-item
{
	color: white;
}

.dropdown:hover>.dropdown-menu
{
	display: block;
	background-color: #282828;
}

.nav-item.dropdown
{
	padding-right: 50px;
}

.navbar-brand
{
	margin-right: 90px;
}


.btn-outline-success
{
	color: white;
	border-color: #0094ff;
}

.btn-outline-success
{
	border-color: #0094ff;
}

.btn-outline-success:hover
{
	background-color: #0094ff;
}

#navbarDropdownMenuLink
{
	color: white;
}

.nav-link
{
	color: white;
}


/*Carousel Styling*/
.carousel.slide
{
	padding-top: 0px;
}

/*Welcoming Description Styling*/ 
.jumbotron.jumbotron-fluid
{
	color: black;
	background-color: white;
	padding-top: 50px;
	margin-bottom: 0px;
}

.row
{
	padding-top: 35px;
	padding-bottom: 35px;
}

.welcoming.heading
{
	color: #1E90FF;
}

.welcoming.paragraph
{
	padding-top: 15px;
}

/*Why chose us Styling*/
#why
{
	background-color: #282828;
	color: #1E90FF;
}

.why.paragraph
{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.whychooseus
{
	color: white;
	font-size: 30px;
	text-align: left;
}

.whyus
{
	text-align: left;
	font-size: 16px;
	color: white;
}

#reasonswhy
{
	padding-bottom: 60px;
}









/*Featured Services Styling*/
.jumbotron.jumbotron-fluid2
{
	background-image: url("dentist-tools.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 120px;
	margin-bottom: 0px;
}


.card
{
	padding-top: 20px;
}

/*Footer Styling*/
.img-thumbnail
{
	background-color: #343a40;
	border-color: #343a40;
}

.page-footer.font-small.md-color.pt-4
{
	color: white;
	background-color: #343a40;
}

.location
{
	margin-bottom: 2px;
}

.email
{
	margin-top: 15px;
}

.fa.fa-facebook
{
	color: white;
	padding: 10px;
  	font-size: 20px;
  	width: 40px;
  	height: 40px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
  	border-radius: 100%;
}

.fa:hover
{
	opacity: 0.6;
}

hr{
	display: block;
	height: 1px;
	border-top: 1px solid;
	color: white;
}