/*Navigation Bar Styling*/
.navbar-brand
{
	margin-right: 0px;
}

.nav-item.active
{
	/*padding-right: 20px;*/
}

.nav-item.dropdown
{
	/*padding-right: 20px;*/
}

#navbarNavDropdown
{
	padding-left: 300px;
}

.btn-outline-success
{
	color: white;
	border-color: #0094ff;
}

.btn-outline-success
{
	border-color: #0094ff;
}

.btn-outline-success:hover
{
	background-color: #0094ff;
}

#navbarDropdownMenuLink
{
	color: white;
}

.nav-link
{
	color: white;
}

/*Carousel Styling*/
.carousel.slide
{
	padding-top: 115px;
}

/*Welcoming Description Styling*/ 
.jumbotron.jumbotron-fluid
{
	color: black;
	background-color: white;
	padding-top: 50px;
	margin-bottom: 0px;
}

.display-4
{
	text-align: center;
	color: black;
}

.new1
{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Featured Services Styling*/
.jumbotron.jumbotron-fluid2
{
	background-image: url("dentist-tools.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 120px;
	margin-bottom: 0px;
}


.card
{
	padding-top: 20px;
}

/*Footer Styling*/
.img-thumbnail
{
	background-color: #343a40;
	border-color: #343a40;
}

.page-footer.font-small.md-color.pt-4
{
	color: white;
	background-color: #343a40;
}

.location
{
	margin-bottom: 2px;
}

.email
{
	margin-top: 15px;
}

.fa.fa-facebook
{
	background-color: #3B5998;
	color: white;
	padding: 20px;
  	font-size: 30px;
  	width: 70px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
  	border-radius: 100%;
}

hr{
	display: block;
	height: 1px;
	border-top: 1px solid;
	color: white;
}